/**
 * @name RoseMaster Glasscord Theme
 * @description Transparent Discord Theme
 * @author AryToNex, RoseMaster3000
 * @version 0.1
 * @source https://gitlab.com/RoseMaster3000/arch-notes
 * @patreon https://patreon.com/arytonex
 * @authorLink https://gitlab.com/RoseMaster3000
 * @requires Glasscord>=0.0.5
 */
/*
   Copyright 2020 AryToNeX

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*/

/* USRBG compatibility CSS */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

:root{
	/* Here you can define properties for use with Glasscord. */

	/* Windows-specific properties */
	/* Blur mode. Available types: acrylic (strong blur), blurbehind (light blur), transparent */
	--glasscord-win-blur: blurbehind;

	/* macOS-specific properties */
	/* Vibrancy mode */
	--glasscord-macos-vibrancy: fullscreen-ui;

	/* Linux-specific properties */
	/* Should Glasscord send a request to your window compositor to blur behind Discord's window? */
	/* It currently supports KWin only */
	--glasscord-linux-blur: true;

	/* The corner radius of the blurry background */
	--glasscord-blur-corner-radius: 20px;

	/* Discord-specific properties */
	/* Custom (forced) titlebar */
	/* native (default), windows, osx, linux (framed) */
	--glasscord-titlebar: osx;

	/* USRBG Compatibility */
	/* Please refer to https://github.com/Discord-Custom-Covers/usrbg */
	
	/* Distance from the avatar container to the edge of the modal */
	--usrbg-modal-x-offset: -34px; 
	--usrbg-modal-y-offset: -20px;
	
	/* Maximum width / height of modal */
	--usrbg-modal-width: 600px; 
	--usrbg-modal-height: 600px;
}

/* NORMAL */
.reduce-motion .userPopout-3XzG_A {
	transform: translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: .6;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	border-radius: 5px;
}

/* Glasscord additions to the normal header */
.headerNormal-T_seeN {
	z-index: 0;
}

.headerNormal-T_seeN::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #20222580;
	z-index: -1;
	border-radius: 5px;
}

.headerPlaying-j0WQBV, .headerStreaming-2FjmGz {
	z-index: 0;
}

.headerPlaying-j0WQBV::after, .headerStreaming-2FjmGz::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7289da80;
	z-index: -1;
	border-radius: 5px;
}

.headerSpotify-zpWxgT {
	z-index: 0;
}

.headerSpotify-zpWxgT::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1db95480;
	z-index: -1;
	border-radius: 5px;
}

.body-3iLsc4 {
	background: var(--background-secondary-chat) !important;
	backdrop-filter: blur(5px);
}

.userPopout-3XzG_A::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-pinned);
	z-index: -1;
}

/* EXPANDED */
.header-QKLPzZ .wrapper-3t9DeA::after {
	content: '';
	position: absolute;
	top: var(--usrbg-modal-x-offset);
	left: var(--usrbg-modal-y-offset);
	width: var(--usrbg-modal-width);
	height: var(--usrbg-modal-height);
	opacity: .6;
	background: var(--user-background) center/cover no-repeat;
	z-index: -1;
}

/* Glasscord additions to Usrbg expanded */
.topSectionNormal-2-vo2m {
	z-index: 0;
}

.topSectionNormal-2-vo2m::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #20222580;
	z-index: -1;
}

.topSectionPlaying-1J5E4n {
	z-index: 0;
}

.topSectionPlaying-1J5E4n::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7289da80;
	z-index: -1;
}

.topSectionSpotify-1lI0-P {
	z-index: 0;
}

.topSectionSpotify-1lI0-P::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1db95480;
	z-index: -1;
}

.body-3ND3kc {
	background-color: var(--background-secondary-chat) !important;
	backdrop-filter: blur(5px);
}

/* USRBG compatibility end */

body{
    background-color: rgba(0,0,0,0);
}

#app-mount{
	background-color: rgba(0,0,0,0);
}

.theme-dark{
    --background-primary: rgba(18,18,18,0.0);
    --background-primary-alt: rgba(18,18,18,0.0);
    --background-secondary: rgba(18,18,18,0.05);
    --background-secondary-chat: #181818a0;
    --background-secondary-alt: #292b2f00;
    --background-tertiary: #20222570;
    --background-logo: #36393fa0;
    --deprecated-card-bg: #36393f4c;
    --deprecated-store-bg: #36393f00;
    --background-attachments: #18181840;
    --background-search-bar: #202225a0;
    --background-switcher: rgba(24, 24, 24, 0.438);
    --background-chatbox: rgba(18,18,18,0.0);
    --background-lights-out: rgb(0, 0, 0);
    --background-pinned: #181818ff;
    --background-profile-expand: #181818ff;
    --background-emoji: #181818ff;
    --text-lights-out: #f0f0f0;
    --background-titlebar: #18181850;
    --scrollbar-auto-thumb: #20222550;
}

.auto-Ge5KZx::-webkit-scrollbar-track{
    background-color: transparent;
}


.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: transparent;
	border: 4px solid transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: #20222550;
}

.theme-dark .container-1D34oG {
	background-color: transparent;
}

.theme-dark .card-FDVird:before {
	background-color: #33363c7a;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
	background-color: #2f313650;
	border-color: #20222550;
}

.theme-dark .pageWrapper-1PgVDX {
	background-color: transparent;
}

.theme-light {
	--background-primary: transparent;
	--background-primary-alt: #ffffffff;
	--background-secondary: #f2f3f550;
	--background-secondary-chat: #f2f3f5a0;
	--background-secondary-alt: #ebedef00;
	--background-tertiary: #e3e5e860;
	--background-logo: #f2f3f5a0;
	--deprecated-card-bg: #f8f9f94c;
	--deprecated-store-bg: #f8f9f900;
	--background-attachments: #f6f6f640;
	--background-search-bar: #e3e5e8a0;
	--background-switcher: #f2f3f5ff;
	--background-chatbox: #e3e5e850;
	--background-lights-out: #fff;
	--background-pinned: #f2f3f5ff;
	--background-profile-expand: #f2f3f5ff;
	--background-emoji: #f2f3f5ff;
	--text-lights-out: #202020;
	--background-titlebar: #f2f3f550;
	--interactive-muted: #95999d;
}

.theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: transparent;
	border: 4px solid transparent;
}

.theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	border-color: transparent;
	background-color: #e3e5e850;
}

.theme-light .container-1D34oG {   
	background-color: transparent;
}

.theme-light .card-FDVird:before {
	background-color: #f6f6f790;
}

.theme-light .codeRedemptionRedirect-1wVR4b {
	background-color: #f6f6f750;
	border-color: #dcddde50;
}

.theme-light .pageWrapper-1PgVDX {
	background-color: transparent;
}

.withFrame-haYltI::after {
	content: "";
	width: 100%;
	height: 4px;
	background: var(--background-titlebar);
	position: absolute;
	left: 0; top: 0;
	z-index: -1; /* Stay under the window buttons */
}

.container-1r6BKw {
	padding-top: 0;
	padding-bottom: 12px;
	margin-bottom: 12px;
	height: auto;
	transform: translateY(12px);
}

.container-1r6BKw::after {
	content: "";
	position: absolute;
	left: 0; top: -12px;
	width: 100%;
	height: 12px;
	background: var(--background-secondary);
}

.premiumPromo-fVlLu- {
	background-color: var(--background-secondary-chat);
}

.unread-3zKkbm {
	height: 4px;
	width: 4px;
	margin-top: -2px;
	border-radius: 2px 2px 2px 2px;
}

.jumpToPresentBar-9P20AM {
	border-radius: 8px;
	padding-bottom: 0;
}

.platform-win .sidebar-2K8pFh {
	border-radius: 0;
}

.platform-osx .scroller-2TZvBN {
    padding-top: 32px;
    -webkit-mask: linear-gradient(#0000, #fff 32px);
}

.platform-osx .wrapper-1Rf91z {
    margin-top: 0;
}

.typeMacOS-3EmCyP {
    background-color: transparent !important;
}

.platform-osx .unreadMentionsIndicatorTop-gA6RCh {
    top: 32px;
}

.platform-osx .back-1Ess-_ {
    -webkit-app-region: no-drag;
}

.platform-osx .button-2PWmas {
    -webkit-app-region: no-drag;
}

.platform-osx .toolbar-1t6TWx {
    -webkit-app-region: no-drag;
}


.platform-osx .topic-TCb_qw {
    -webkit-app-region: no-drag;   
}

.messagesPopoutWrap-1MQ1bW {
	background-color: var(--background-pinned);
}

.notice-2FJMB4 {
	background-color: var(--background-secondary) !important;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.contentWrapper-2txmjs {
	background-color: var(--background-emoji);
}

.emojiPicker-3PwZFl {
	background-color: var(--background-emoji) !important;
}

.app-2rEoOp {
	background-color: transparent;
}

.divider-JfaTT5 {
  border-top: none;
}

.isUnread-3Ef-o9 {
	border-color: transparent !important;
}

.attachment-33OFj0 {
	background-color: var(--background-attachments) !important;
}

.header-2V-4Sw {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.privateChannels-1nO12o {
	background-color: transparent;
}

.root-SR8cQa {
	background-color: var(--background-profile-expand);
}

.container-PNkimc {
	background-color: transparent;
}

.container-3w7J-x {
    background-color: transparent;
}

.inset-3sAvek {
	background-color: var(--background-secondary) !important;
}

.container-1r6BKw.themed-ANHk51 {
	background-color: var(--background-secondary);
}

.wrapper-1Rf91z {
	background-color: var(--background-secondary);
}

.childWrapper-anI2G9 {
	background-color: var(--background-logo);
}

.circleIconButton-jET_ig {
	background-color: var(--background-logo);
}

.searchBar-3dMhjb {
	background-color: var(--background-search-bar);
}

.searchBar-6Kv8R2 {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.searchHeader-1l-wpR {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.channelName-1QajIf {
	background-color: transparent;
}

.searchResult-3pzFAB:before {
	background-image: none;
}

.searchResult-3pzFAB:after {
	background-image: none;
}

.perksModal-fSYqOq {
	background-color: transparent !important;
}

.ctaBar-2UsjF2 {
	background-color: var(--background-attachments) !important;
}

.tierBody-16Chc9 {
	background-color: var(--background-secondary-chat) !important;
}

.perk-2WeBWW {
	background-color: var(--background-attachments) !important;
}

.content-yTz4x3:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tabBody-3YRQ8W:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-19hC9u:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-xm7Ad0:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
	background-color: var(--background-search-bar);
}

.scroller-1JbKMe {
	background-color: transparent;
}

.scroller-2TZvBN {
	background-color: transparent;
}

.quickswitcher-3JagVE {
	background-color: var(--background-switcher);
}

.wrapper-2aW0bm {
	background-color: var(--background-primary-alt);
}

.searchResultMessage-2VxO12.hit-NLlWXA {
	background-color: var(--background-primary-alt);
}

.scroller-zPkAnE {
	background-color: transparent;
}

.embedFull-2tM8-- {
	background-color: var(--background-attachments);
}

.messagesWrapper-3lZDfY {
	margin-bottom: 8px;
}

.panels-j1Uci_ {
	background-color: transparent;
}

.titleBar-AC4pGV {
	background-color: var(--background-titlebar);
}

.uploadArea-3QgLtW {
	background-color: var(--background-lights-out);
}

.backdropWithLayer-3_uhz4 {
	background-color: var(--background-lights-out) !important;
}

.backdrop-1wrmKB {
	background-color: var(--background-lights-out) !important;
}

.downloadLink-1ywL9o {
	color: var(--text-lights-out) !important;
}

.bg-AYqtMd {
	-webkit-mask-image: linear-gradient(#000f, #0000) !important;
}

.scrollableContainer-2NUZem {
	background-color: var(--background-chatbox);
}

.members-1998pB {
	background-color: var(--background-secondary);
}

.members-1998pB>div {
	background-color: transparent;
}

.footer-1fjuF6 {
	display: none;
}
